.wsuwp-cost-tables-settings {
	&__kvp-group {
		max-width: 1200px;
		margin-bottom: 2rem;
	}

	&__kvp-list {
		display: flex;
		flex-flow: column;
		gap: 15px;
	}

	&__kvp-item {
		display: flex;
		gap: 15px;
		align-items: center;
		margin: 0;
	}

	&__input-container {
		flex-grow: 1;
	}

	&__input {
		display: block;
		width: 100%;
	}

	&__remove-btn {
		cursor: pointer;
	}

	&__kvp-add {
		width: 100%;
	}
}
